/*


	jQuery Scrolling Tweet Ticker 1.1 (May 2, 2011)


	Copyright 2011 Scott Langendyk. All Rights Reserved.


*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100);



div.tweetticker{

  width: 100%;
  display: block;
  font-family: "Roboto", Helvetica, Arial;


}





div.tweetticker-container{


/*	background:url(container-bg.png) repeat-x center center;*/

position: relative;
margin: 0 30px;
height: 50px;


}





div.tweetticker-container-left{
/* background: url(container-left.png) no-repeat right center;*/


	width: 30px;


	height: 50px;


	display: block;


	position: absolute;


	left: -30px;


	top: 0;


	z-index: 2;


}





div.tweetticker-container-right{


/*	background: url(container-right.png) no-repeat left center;*/


	width: 30px;


	display: block;


	height: 50px;


	position: absolute;


	right: -30px;


	top: 0;


	z-index: 2;


}





div.tweetticker-container-content{


	position: relative;


	z-index: 3;


	line-height: 30px;


	padding: 10px 0;


	margin: 0 0;


}





div.tweetticker-username{


	position: relative;


	float: left;


	z-index: 100;


	padding: 0 5px;


	color: #FFFFFF;


	font-size: 14px;


	letter-spacing: 1px;


	text-shadow: 0 -1px 1px #000000;


	margin: 0 0 0 -16px;


}

@media (max-width: 580px) {
  div.tweetticker-username {
    display: none; } }


div.tweetticker-username a{


	color: #EAC12D;


	text-decoration: none;


}





div.tweetticker-username a:hover{


	color: #FFF;


}





div.tweetticker-tweetbox{


	overflow: hidden;


	position: relative;


/*	background: url(tweetbox-bg.png) repeat-x 0 1px;*/


	z-index: 100;


	margin: 0;


	padding: 0;


}










div.tweetticker-tweetbox-content{


	display: block;


	margin: 0 3px 0 2px;


	height: 30px;


	position: relative;


	z-index: 200;


}





div.tweetticker-overflow-container{


	white-space: nowrap;


	overflow: hidden;


	position: relative;


	font-size: 12px;


	display: block;


	width: 100%;


}





ul.tweetticker-tweets-list{


	position: relative;


	list-style: none;


	display: inline;


	margin: 0;


	padding: 0;


}





ul.tweetticker-tweets-list li{

text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	display: inline;
   font-weight: 300;

	margin: 0 10px;


	list-style: none;


	padding: 0;


	white-space: nowrap;


}





ul.tweetticker-tweets-list li a{


	color: #FFF;


}





ul.tweetticker-tweets-list li span.tweetticker-date{


	font-size: 9px;


	font-style: italic;


	color: #FFF;


	position: relative;


	bottom: 1px;


}





ul.tweetticker-tweets-list li span.tweetticker-date a{


	color: inherit !important;


	margin-right: 5px;


	text-decoration: none !important;

text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	border-bottom: 1px solid #AAAAAA;


}



/* BitAssets Currencies - Colors */

li.tweetticker-tweet .bitCNY, li.tweetticker-tweet .bitEUR, li.tweetticker-tweet .bitUSD {
 	  color: #fcf8f9;
   opacity: 0.7;
   letter-spacing: 1px;
   font-weight: 500;
}

/*li.tweetticker-tweet .bitCNY {
 	color: #DF565B;
   opacity: 0.7;
}*/



/* UP - color */

.up {
  color: #7ED321;
  font-weight: 100;
}

.up .change {
  font-weight: 100;
}

.up  .pct {
  font-weight: 100;
}



/* DOWN - color */

.down, .down .change, .down  .pct {
  color: #DF565B;
  font-weight: 200;
}

.down .change {
   font-weight: 100;
}

.down  .pct {
   font-weight: 100;
}




/*---/ BitAssets Currencies End */







/*li.tweetticker-tweet b:nth-child(1) {
 	color: #DF565B;
   opacity: 0.7;
}

li.tweetticker-tweet b:nth-child(2) {
 	color: #0E8CB9;
   opacity: 0.7;
}


li.tweetticker-tweet b:nth-child(3) {
 	color: #93C356;
   opacity: 0.7;
}

li.tweetticker-tweet b:nth-child(4) {
 	color: #DF565B;
   opacity: 0.7;
}


li.tweetticker-tweet b:nth-child(5) {
 	color: #0E8CB9;
   opacity: 0.7;
}

li.tweetticker-tweet b:nth-child(6) {
 	color: #93C356;
   opacity: 0.7;
}*/


div.tweetticker-twitter-link{


	position: relative;


	z-index: 200;


	float: right;


	margin: 0 -16px 0 0;


}





div.tweetticker-twitter-link a{


	background: url(bitshares-logo.png) no-repeat center center;


	margin-top:-10px;


	overflow: hidden;


	text-indent: -9999px;


	width: 31px;


	height: 50px;


	display: block;


}